@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

.container{
    width: 900px;
    margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	}

img{
	display: block;
	max-width: 100%;
}	

.header-section{
    padding: 25px 0;
}
.logo{
    max-width: 20%;
    flex-basis: 20%;
}
.logo a{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #313233b5;
}
.nav{
    max-width: 80%;
    flex-basis: 80%;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.nav ul li{
}
.nav ul li a{
    text-decoration: none;
    padding: 10px 25px;
    color: #42464687;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.nav ul li a:hover{
	color:#000;
}
.banner-section{
	background: url(..//images/banner.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.banner{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
.banner-contant{text-align: center;}
.banner-contant h1{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.banner-contant span{
    height: 1px;
    width: 100%;
    color: #4c1cdc9e;
}
.banner-contant p{
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.banner-contant input{
	text-transform: capitalize;
	padding: 15px 25px;
	font-size: 16px;
	background: transparent;
	border-radius: 5px;
	border: 1px solid #f3f7f6a3;
	color: #fff;
	margin-top: 40px;
}